<div id="js-estimate">
  <p>
    If you take <span class="t-calculator-chunk"><%= number_to_currency(estimate.chunk) %></span> from your
    <span class="t-calculator-pot"><%= number_to_currency(estimate.pot) %></span> pot, you could get:

    <strong class="calculator__estimate__number t-calculator-chunk-remaining">
      <span class="calculator__highlight"><%= number_to_currency(estimate.chunk_remaining) %></span>
    </strong>

    <p>(This includes your tax free lump sum)</p>

    <p>We estimate you'll pay:</p>

    <strong class="calculator__estimate__number t-calculator-chunk-tax">
      <span class="calculator__highlight"><%= number_to_currency(estimate.chunk_tax) %></span> in tax
    </strong>
  </p>
</div>

<p>
  <label for="slider">or try taking a different cash chunk:</label>
  <%
  max = estimate.chunk.to_f * 5
  max = (estimate.pot - 1) if max > estimate.pot
  %>
  <%= render 'components/slider', {
      id: 'slider',
      target: '#chunk',
      option: 'take-cash',
      text_before: '£',
      initial_value: estimate.chunk.to_i,
      min: 0,
      max: max,
      step: 5
  } %>
</p>

<ul>
  <li>You pay tax because your cash chunk is added to your income.</li>
  <li>
    This is an estimate — the exact amount of tax you pay depends on your total income for the year and your tax rate.
  </li>
</ul>

<script>
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event': 'CalculatorEstimate'
    , 'tax_paid': <%= estimate.chunk_tax.to_i %>
  });
</script>
